In [3]:
import pandas as pd
from statistics import mean

In [6]:
flight_1987=pd.read_csv('data-analytics-files/1987.csv')
flight_1989=pd.read_csv('data-analytics-files/1989.csv')
flight_1990=pd.read_csv('data-analytics-files/1990.csv')
flight_1991=pd.read_csv('data-analytics-files/1991.csv')
flight_1992=pd.read_csv('data-analytics-files/1992.csv')
flight_1993=pd.read_csv('data-analytics-files/1993.csv')
flight_1994=pd.read_csv('data-analytics-files/1994.csv')
flight_1995=pd.read_csv('data-analytics-files/1995.csv')
flight_1996=pd.read_csv('data-analytics-files/1996.csv')

In [7]:
flight_1987

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,1987,10,14,3,741.0,730,912.0,849,PS,1451,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1,1987,10,15,4,729.0,730,903.0,849,PS,1451,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,1987,10,17,6,741.0,730,918.0,849,PS,1451,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3,1987,10,18,7,729.0,730,847.0,849,PS,1451,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,1987,10,19,1,749.0,730,922.0,849,PS,1451,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1311821,1987,12,11,5,1530.0,1530,1825.0,1823,CO,638,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1311822,1987,12,13,7,1530.0,1530,1815.0,1823,CO,638,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1311823,1987,12,14,1,1530.0,1530,1807.0,1823,CO,638,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1311824,1987,12,1,2,1525.0,1525,1643.0,1638,CO,639,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1311825,1987,12,2,3,1540.0,1525,1706.0,1638,CO,639,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [11]:
flight_1987.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1311826 entries, 0 to 1311825
Data columns (total 29 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   Year               1311826 non-null  int64
 1   Month              1311826 non-null  int64
 2   DayofMonth         1311826 non-null  int64
 3   DayOfWeek          1311826 non-null  int64
 4   DepTime            1292141 non-null  float64
 5   CRSDepTime         1311826 non-null  int64
 6   ArrTime            1288326 non-null  float64
 7   CRSArrTime         1311826 non-null  int64
 8   UniqueCarrier      1311826 non-null  object
 9   FlightNum          1311826 non-null  int64
 10  TailNum            0 non-null        float64
 11  ActualElapsedTime  1288326 non-null  float64
 12  CRSElapsedTime     1311826 non-null  int64
 13  AirTime            0 non-null        float64
 14  ArrDelay           1288326 non-null  float64
 15  DepDelay           1292141 non-null  float64
 16  Origin             1311826 non-null  object
 17  Dest               1311826 non-null  object
 18  Distance           1310811 non-null  float64
 19  TaxiIn             0 non-null        float64
 20  TaxiOut            0 non-null        float64
 21  Cancelled          1311826 non-null  int64
 22  CancellationCode   0 non-null        float64
 23  Diverted           1311826 non-null  int64
 24  CarrierDelay       0 non-null        float64
 25  WeatherDelay       0 non-null        float64
 26  NASDelay           0 non-null        float64
 27  SecurityDelay      0 non-null        float64
 28  LateAircraftDelay  0 non-null        float64
dtypes: float64(16), int64(10), object(3)
memory usage: 290.2+ MB

In [16]:
flight_1987.isnull().sum()

Year                       0
Month                      0
DayofMonth                 0
DayOfWeek                  0
DepTime                19685
CRSDepTime                 0
ArrTime                23500
CRSArrTime                 0
UniqueCarrier              0
FlightNum                  0
TailNum              1311826
ActualElapsedTime      23500
CRSElapsedTime             0
AirTime              1311826
ArrDelay               23500
DepDelay               19685
Origin                     0
Dest                       0
Distance                1015
TaxiIn               1311826
TaxiOut              1311826
Cancelled                  0
CancellationCode     1311826
Diverted                   0
CarrierDelay         1311826
WeatherDelay         1311826
NASDelay             1311826
SecurityDelay        1311826
LateAircraftDelay    1311826
dtype: int64

In [18]:
flight_1987.isna().sum()

Year                       0
Month                      0
DayofMonth                 0
DayOfWeek                  0
DepTime                19685
CRSDepTime                 0
ArrTime                23500
CRSArrTime                 0
UniqueCarrier              0
FlightNum                  0
TailNum              1311826
ActualElapsedTime      23500
CRSElapsedTime             0
AirTime              1311826
ArrDelay               23500
DepDelay               19685
Origin                     0
Dest                       0
Distance                1015
TaxiIn               1311826
TaxiOut              1311826
Cancelled                  0
CancellationCode     1311826
Diverted                   0
CarrierDelay         1311826
WeatherDelay         1311826
NASDelay             1311826
SecurityDelay        1311826
LateAircraftDelay    1311826
dtype: int64

In [19]:
flight_1987_dropped=flight_1987.dropna(axis=1)

In [20]:
flight_1987_dropped

,Year,Month,DayofMonth,DayOfWeek,CRSDepTime,CRSArrTime,UniqueCarrier,FlightNum,CRSElapsedTime,Origin,Dest,Cancelled,Diverted
0,1987,10,14,3,730,849,PS,1451,79,SAN,SFO,0,0
1,1987,10,15,4,730,849,PS,1451,79,SAN,SFO,0,0
2,1987,10,17,6,730,849,PS,1451,79,SAN,SFO,0,0
3,1987,10,18,7,730,849,PS,1451,79,SAN,SFO,0,0
4,1987,10,19,1,730,849,PS,1451,79,SAN,SFO,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1311821,1987,12,11,5,1530,1823,CO,638,113,ORD,EWR,0,0
1311822,1987,12,13,7,1530,1823,CO,638,113,ORD,EWR,0,0
1311823,1987,12,14,1,1530,1823,CO,638,113,ORD,EWR,0,0
1311824,1987,12,1,2,1525,1638,CO,639,73,BOS,EWR,0,0
1311825,1987,12,2,3,1525,1638,CO,639,73,BOS,EWR,0,0

In [21]:
flight_1987_dropped.isnull().sum()

Year              0
Month             0
DayofMonth        0
DayOfWeek         0
CRSDepTime        0
CRSArrTime        0
UniqueCarrier     0
FlightNum         0
CRSElapsedTime    0
Origin            0
Dest              0
Cancelled         0
Diverted          0
dtype: int64

In [ ]:
flight_1989

In [ ]:
for i in range(1987,1997):
    file_name=str(i)+'.csv'
    df=pd.read_csv(file_name)
    first_10_airports=df['Orgin'].unique()[0:10]
    subset_df=df[df['Orgin'].isin(first_10_airports)]

In [1]:
num = input("Enter a number: ")
list=[]
while num != -1:
    list.append(num)

In [4]:
a=[1,2,3]
mean(a)

2

In [ ]:
list=[]
while -1 not in list:
    num=input("Enter a number: ")
    list.append(num)
    print(mean(list))

In [1]:
4-2

2