In [3]:
import pandas as pd
from statistics import mean

In [25]:
flight_1987=pd.read_csv('data-analytics-files/1987.csv')
flight_1989=pd.read_csv('data-analytics-files/1989.csv')
flight_1990=pd.read_csv('data-analytics-files/1990.csv')
flight_1991=pd.read_csv('data-analytics-files/1991.csv')
flight_1992=pd.read_csv('data-analytics-files/1992.csv')
flight_1993=pd.read_csv('data-analytics-files/1993.csv')
flight_1994=pd.read_csv('data-analytics-files/1994.csv')
flight_1995=pd.read_csv('data-analytics-files/1995.csv')
flight_1996=pd.read_csv('data-analytics-files/1996.csv')

In [7]:
flight_1987

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,1987,10,14,3,741.0,730,912.0,849,PS,1451,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1,1987,10,15,4,729.0,730,903.0,849,PS,1451,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,1987,10,17,6,741.0,730,918.0,849,PS,1451,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3,1987,10,18,7,729.0,730,847.0,849,PS,1451,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,1987,10,19,1,749.0,730,922.0,849,PS,1451,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1311821,1987,12,11,5,1530.0,1530,1825.0,1823,CO,638,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1311822,1987,12,13,7,1530.0,1530,1815.0,1823,CO,638,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1311823,1987,12,14,1,1530.0,1530,1807.0,1823,CO,638,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1311824,1987,12,1,2,1525.0,1525,1643.0,1638,CO,639,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1311825,1987,12,2,3,1540.0,1525,1706.0,1638,CO,639,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [16]:
flight_1987.isnull().sum()

Year                       0
Month                      0
DayofMonth                 0
DayOfWeek                  0
DepTime                19685
CRSDepTime                 0
ArrTime                23500
CRSArrTime                 0
UniqueCarrier              0
FlightNum                  0
TailNum              1311826
ActualElapsedTime      23500
CRSElapsedTime             0
AirTime              1311826
ArrDelay               23500
DepDelay               19685
Origin                     0
Dest                       0
Distance                1015
TaxiIn               1311826
TaxiOut              1311826
Cancelled                  0
CancellationCode     1311826
Diverted                   0
CarrierDelay         1311826
WeatherDelay         1311826
NASDelay             1311826
SecurityDelay        1311826
LateAircraftDelay    1311826
dtype: int64

In [18]:
flight_1987.isna().sum()

Year                       0
Month                      0
DayofMonth                 0
DayOfWeek                  0
DepTime                19685
CRSDepTime                 0
ArrTime                23500
CRSArrTime                 0
UniqueCarrier              0
FlightNum                  0
TailNum              1311826
ActualElapsedTime      23500
CRSElapsedTime             0
AirTime              1311826
ArrDelay               23500
DepDelay               19685
Origin                     0
Dest                       0
Distance                1015
TaxiIn               1311826
TaxiOut              1311826
Cancelled                  0
CancellationCode     1311826
Diverted                   0
CarrierDelay         1311826
WeatherDelay         1311826
NASDelay             1311826
SecurityDelay        1311826
LateAircraftDelay    1311826
dtype: int64

In [19]:
flight_1987_dropped=flight_1987.dropna(axis=1)

In [20]:
flight_1987_dropped

,Year,Month,DayofMonth,DayOfWeek,CRSDepTime,CRSArrTime,UniqueCarrier,FlightNum,CRSElapsedTime,Origin,Dest,Cancelled,Diverted
0,1987,10,14,3,730,849,PS,1451,79,SAN,SFO,0,0
1,1987,10,15,4,730,849,PS,1451,79,SAN,SFO,0,0
2,1987,10,17,6,730,849,PS,1451,79,SAN,SFO,0,0
3,1987,10,18,7,730,849,PS,1451,79,SAN,SFO,0,0
4,1987,10,19,1,730,849,PS,1451,79,SAN,SFO,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1311821,1987,12,11,5,1530,1823,CO,638,113,ORD,EWR,0,0
1311822,1987,12,13,7,1530,1823,CO,638,113,ORD,EWR,0,0
1311823,1987,12,14,1,1530,1823,CO,638,113,ORD,EWR,0,0
1311824,1987,12,1,2,1525,1638,CO,639,73,BOS,EWR,0,0
1311825,1987,12,2,3,1525,1638,CO,639,73,BOS,EWR,0,0

In [21]:
flight_1987_dropped.isnull().sum()

Year              0
Month             0
DayofMonth        0
DayOfWeek         0
CRSDepTime        0
CRSArrTime        0
UniqueCarrier     0
FlightNum         0
CRSElapsedTime    0
Origin            0
Dest              0
Cancelled         0
Diverted          0
dtype: int64

In [26]:
flight_1989.isnull().sum()

Year                       0
Month                      0
DayofMonth                 0
DayOfWeek                  0
DepTime                74165
CRSDepTime                 0
ArrTime                89004
CRSArrTime                 0
UniqueCarrier              0
FlightNum                  0
TailNum              5041200
ActualElapsedTime      89004
CRSElapsedTime             0
AirTime              5041200
ArrDelay               89004
DepDelay               74165
Origin                     0
Dest                       0
Distance               26988
TaxiIn               5041200
TaxiOut              5041200
Cancelled                  0
CancellationCode     5041200
Diverted                   0
CarrierDelay         5041200
WeatherDelay         5041200
NASDelay             5041200
SecurityDelay        5041200
LateAircraftDelay    5041200
dtype: int64

In [27]:
flight_1989_dropped=flight_1989.dropna(axis=1)

In [29]:
flight_1989_dropped.isna().sum()

Year              0
Month             0
DayofMonth        0
DayOfWeek         0
CRSDepTime        0
CRSArrTime        0
UniqueCarrier     0
FlightNum         0
CRSElapsedTime    0
Origin            0
Dest              0
Cancelled         0
Diverted          0
dtype: int64

In [30]:
flight_1990.isnull().sum()

Year                       0
Month                      0
DayofMonth                 0
DayOfWeek                  0
DepTime                52458
CRSDepTime                 0
ArrTime                68412
CRSArrTime                 0
UniqueCarrier              0
FlightNum                  0
TailNum              5270893
ActualElapsedTime      68412
CRSElapsedTime             0
AirTime              5270893
ArrDelay               68412
DepDelay               52458
Origin                     0
Dest                       0
Distance               93437
TaxiIn               5270893
TaxiOut              5270893
Cancelled                  0
CancellationCode     5270893
Diverted                   0
CarrierDelay         5270893
WeatherDelay         5270893
NASDelay             5270893
SecurityDelay        5270893
LateAircraftDelay    5270893
dtype: int64

In [31]:
flight_1990_dropped=flight_1990.dropna(axis=1)

In [32]:
flight_1990_dropped.isnull().sum()

Year              0
Month             0
DayofMonth        0
DayOfWeek         0
CRSDepTime        0
CRSArrTime        0
UniqueCarrier     0
FlightNum         0
CRSElapsedTime    0
Origin            0
Dest              0
Cancelled         0
Diverted          0
dtype: int64

In [33]:
flight_1991.isnull().sum()

Year                       0
Month                      0
DayofMonth                 0
DayOfWeek                  0
DepTime                43505
CRSDepTime                 0
ArrTime                56090
CRSArrTime                 0
UniqueCarrier              0
FlightNum                  0
TailNum              5076925
ActualElapsedTime      56090
CRSElapsedTime             0
AirTime              5076925
ArrDelay               56090
DepDelay               43505
Origin                     0
Dest                       0
Distance               26261
TaxiIn               5076925
TaxiOut              5076925
Cancelled                  0
CancellationCode     5076925
Diverted                   0
CarrierDelay         5076925
WeatherDelay         5076925
NASDelay             5076925
SecurityDelay        5076925
LateAircraftDelay    5076925
dtype: int64

In [34]:
flight_1991_dropped=flight_1991.dropna(axis=1)

In [37]:
flight_1991_dropped.isnull().sum()

Year              0
Month             0
DayofMonth        0
DayOfWeek         0
CRSDepTime        0
CRSArrTime        0
UniqueCarrier     0
FlightNum         0
CRSElapsedTime    0
Origin            0
Dest              0
Cancelled         0
Diverted          0
dtype: int64

In [39]:
flight_1992.isnull().sum()

Year                       0
Month                      0
DayofMonth                 0
DayOfWeek                  0
DepTime                52836
CRSDepTime                 0
ArrTime                64220
CRSArrTime                 0
UniqueCarrier              0
FlightNum                  0
TailNum              5092157
ActualElapsedTime      64220
CRSElapsedTime             0
AirTime              5092157
ArrDelay               64220
DepDelay               52836
Origin                     0
Dest                       0
Distance                7387
TaxiIn               5092157
TaxiOut              5092157
Cancelled                  0
CancellationCode     5092157
Diverted                   0
CarrierDelay         5092157
WeatherDelay         5092157
NASDelay             5092157
SecurityDelay        5092157
LateAircraftDelay    5092157
dtype: int64

In [40]:
flight_1992_dropped=flight_1992.dropna(axis=1)

In [42]:
flight_1992_dropped.isnull().sum()

Year              0
Month             0
DayofMonth        0
DayOfWeek         0
CRSDepTime        0
CRSArrTime        0
UniqueCarrier     0
FlightNum         0
CRSElapsedTime    0
Origin            0
Dest              0
Cancelled         0
Diverted          0
dtype: int64

In [43]:
flight_1993.isnull().sum()

Year                       0
Month                      0
DayofMonth                 0
DayOfWeek                  0
DepTime                59845
CRSDepTime                 0
ArrTime                70178
CRSArrTime                 0
UniqueCarrier              0
FlightNum                  0
TailNum              5070501
ActualElapsedTime      70178
CRSElapsedTime             0
AirTime              5070501
ArrDelay               70178
DepDelay               59845
Origin                     0
Dest                       0
Distance                6874
TaxiIn               5070501
TaxiOut              5070501
Cancelled                  0
CancellationCode     5070501
Diverted                   0
CarrierDelay         5070501
WeatherDelay         5070501
NASDelay             5070501
SecurityDelay        5070501
LateAircraftDelay    5070501
dtype: int64

In [44]:
flight_1993_dropped=flight_1993.dropna(axis=1)

In [45]:
flight_1993_dropped.isnull().sum()

Year              0
Month             0
DayofMonth        0
DayOfWeek         0
CRSDepTime        0
CRSArrTime        0
UniqueCarrier     0
FlightNum         0
CRSElapsedTime    0
Origin            0
Dest              0
Cancelled         0
Diverted          0
dtype: int64

In [47]:
flight_1994.isnull().sum()

Year                       0
Month                      0
DayofMonth                 0
DayOfWeek                  0
DepTime                66740
CRSDepTime                 0
ArrTime                78846
CRSArrTime                 0
UniqueCarrier              0
FlightNum                  0
TailNum              5180048
ActualElapsedTime      78846
CRSElapsedTime             0
AirTime              5180048
ArrDelay               78846
DepDelay               66740
Origin                     0
Dest                       0
Distance               22949
TaxiIn               5180048
TaxiOut              5180048
Cancelled                  0
CancellationCode     5180048
Diverted                   0
CarrierDelay         5180048
WeatherDelay         5180048
NASDelay             5180048
SecurityDelay        5180048
LateAircraftDelay    5180048
dtype: int64

In [48]:
flight_1994_dropped=flight_1994.dropna(axis=1)

In [49]:
flight_1994_dropped.isnull().sum()

Year              0
Month             0
DayofMonth        0
DayOfWeek         0
CRSDepTime        0
CRSArrTime        0
UniqueCarrier     0
FlightNum         0
CRSElapsedTime    0
Origin            0
Dest              0
Cancelled         0
Diverted          0
dtype: int64

In [51]:
flight_1995.isnull().sum()

Year                       0
Month                      0
DayofMonth                 0
DayOfWeek                  0
DepTime                91905
CRSDepTime                 0
ArrTime               102397
CRSArrTime                 0
UniqueCarrier              0
FlightNum                  0
TailNum                    0
ActualElapsedTime     102397
CRSElapsedTime          3249
AirTime                50349
ArrDelay              102397
DepDelay               91905
Origin                     0
Dest                       0
Distance                5987
TaxiIn                     0
TaxiOut                    0
Cancelled                  0
CancellationCode     5327435
Diverted                   0
CarrierDelay         5327435
WeatherDelay         5327435
NASDelay             5327435
SecurityDelay        5327435
LateAircraftDelay    5327435
dtype: int64

In [52]:
flight_1995_dropped=flight_1995.dropna(axis=1)

In [53]:
flight_1995_dropped.isnull().sum()

Year             0
Month            0
DayofMonth       0
DayOfWeek        0
CRSDepTime       0
CRSArrTime       0
UniqueCarrier    0
FlightNum        0
TailNum          0
Origin           0
Dest             0
TaxiIn           0
TaxiOut          0
Cancelled        0
Diverted         0
dtype: int64

In [54]:
flight_1996.isnull().sum()

Year                       0
Month                      0
DayofMonth                 0
DayOfWeek                  0
DepTime               128536
CRSDepTime                 0
ArrTime               142657
CRSArrTime                 0
UniqueCarrier              0
FlightNum                  0
TailNum                    0
ActualElapsedTime     142657
CRSElapsedTime          4646
AirTime               142657
ArrDelay              142657
DepDelay              128536
Origin                     0
Dest                       0
Distance                   0
TaxiIn                     0
TaxiOut                    0
Cancelled                  0
CancellationCode     5351983
Diverted                   0
CarrierDelay         5351983
WeatherDelay         5351983
NASDelay             5351983
SecurityDelay        5351983
LateAircraftDelay    5351983
dtype: int64

In [55]:
flight_1996_dropped=flight_1996.dropna(axis=1)

In [57]:
flight_1996_dropped.isnull().sum()

Year             0
Month            0
DayofMonth       0
DayOfWeek        0
CRSDepTime       0
CRSArrTime       0
UniqueCarrier    0
FlightNum        0
TailNum          0
Origin           0
Dest             0
Distance         0
TaxiIn           0
TaxiOut          0
Cancelled        0
Diverted         0
dtype: int64

In [58]:
flight_1987_dropped

,Year,Month,DayofMonth,DayOfWeek,CRSDepTime,CRSArrTime,UniqueCarrier,FlightNum,CRSElapsedTime,Origin,Dest,Cancelled,Diverted
0,1987,10,14,3,730,849,PS,1451,79,SAN,SFO,0,0
1,1987,10,15,4,730,849,PS,1451,79,SAN,SFO,0,0
2,1987,10,17,6,730,849,PS,1451,79,SAN,SFO,0,0
3,1987,10,18,7,730,849,PS,1451,79,SAN,SFO,0,0
4,1987,10,19,1,730,849,PS,1451,79,SAN,SFO,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1311821,1987,12,11,5,1530,1823,CO,638,113,ORD,EWR,0,0
1311822,1987,12,13,7,1530,1823,CO,638,113,ORD,EWR,0,0
1311823,1987,12,14,1,1530,1823,CO,638,113,ORD,EWR,0,0
1311824,1987,12,1,2,1525,1638,CO,639,73,BOS,EWR,0,0
1311825,1987,12,2,3,1525,1638,CO,639,73,BOS,EWR,0,0

In [59]:
flight_1989_dropped

,Year,Month,DayofMonth,DayOfWeek,CRSDepTime,CRSArrTime,UniqueCarrier,FlightNum,CRSElapsedTime,Origin,Dest,Cancelled,Diverted
0,1989,1,23,1,1230,1552,UA,183,322,SFO,HNL,0,0
1,1989,1,24,2,1230,1552,UA,183,322,SFO,HNL,0,0
2,1989,1,25,3,1230,1552,UA,183,322,SFO,HNL,0,0
3,1989,1,26,4,1230,1552,UA,183,322,SFO,HNL,0,0
4,1989,1,27,5,1230,1552,UA,183,322,SFO,HNL,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5041195,1989,12,12,2,1758,1932,DL,220,94,CVG,PHL,0,0
5041196,1989,12,13,3,1758,1932,DL,220,94,CVG,PHL,0,0
5041197,1989,12,14,4,1758,1932,DL,220,94,CVG,PHL,0,0
5041198,1989,12,15,5,1800,1930,DL,220,90,CVG,PHL,0,0
5041199,1989,12,17,7,1800,1930,DL,220,90,CVG,PHL,0,0

In [60]:
flight_1990_dropped

,Year,Month,DayofMonth,DayOfWeek,CRSDepTime,CRSArrTime,UniqueCarrier,FlightNum,CRSElapsedTime,Origin,Dest,Cancelled,Diverted
0,1990,1,3,3,1630,1723,US,29,53,CMH,IND,0,0
1,1990,1,4,4,1630,1723,US,29,53,CMH,IND,0,0
2,1990,1,5,5,1630,1723,US,29,53,CMH,IND,0,0
3,1990,1,6,6,1630,1723,US,29,53,CMH,IND,0,0
4,1990,1,8,1,1630,1723,US,29,53,CMH,IND,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5270888,1990,12,20,4,2128,2220,DL,229,112,SLC,PDX,0,0
5270889,1990,12,21,5,2128,2220,DL,229,112,SLC,PDX,0,0
5270890,1990,12,22,6,2128,2220,DL,229,112,SLC,PDX,0,0
5270891,1990,12,23,7,2128,2220,DL,229,112,SLC,PDX,0,0
5270892,1990,12,24,1,2128,2220,DL,229,112,SLC,PDX,0,0

In [61]:
flight_1991_dropped

,Year,Month,DayofMonth,DayOfWeek,CRSDepTime,CRSArrTime,UniqueCarrier,FlightNum,CRSElapsedTime,Origin,Dest,Cancelled,Diverted
0,1991,1,1,2,1705,1944,US,112,159,TPA,SYR,0,0
1,1991,1,2,3,1705,1944,US,112,159,TPA,SYR,0,0
2,1991,1,3,4,1705,1944,US,112,159,TPA,SYR,0,0
3,1991,1,4,5,1705,1944,US,112,159,TPA,SYR,0,0
4,1991,1,5,6,1705,1944,US,112,159,TPA,SYR,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5076920,1991,12,8,7,1130,1359,CO,1550,149,MCO,LGA,0,0
5076921,1991,12,9,1,1130,1359,CO,1550,149,MCO,LGA,0,0
5076922,1991,12,10,2,1130,1359,CO,1550,149,MCO,LGA,0,0
5076923,1991,12,11,3,1130,1359,CO,1550,149,MCO,LGA,0,0
5076924,1991,12,12,4,910,1224,CO,1550,134,SNA,DEN,0,0

In [62]:
flight_1992_dropped

,Year,Month,DayofMonth,DayOfWeek,CRSDepTime,CRSArrTime,UniqueCarrier,FlightNum,CRSElapsedTime,Origin,Dest,Cancelled,Diverted
0,1992,1,2,4,750,846,US,53,56,CMH,IND,0,0
1,1992,1,3,5,750,846,US,53,56,CMH,IND,0,0
2,1992,1,4,6,750,846,US,53,56,CMH,IND,0,0
3,1992,1,5,7,750,846,US,53,56,CMH,IND,0,0
4,1992,1,6,1,750,846,US,53,56,CMH,IND,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5092152,1992,12,2,3,1847,2240,CO,1582,173,IAH,PIT,0,0
5092153,1992,12,3,4,1847,2240,CO,1582,173,IAH,PIT,0,0
5092154,1992,12,4,5,1847,2240,CO,1582,173,IAH,PIT,0,0
5092155,1992,12,5,6,1847,2240,CO,1582,173,IAH,PIT,0,0
5092156,1992,12,6,7,1847,2240,CO,1582,173,IAH,PIT,0,0

In [63]:
flight_1993_dropped

,Year,Month,DayofMonth,DayOfWeek,CRSDepTime,CRSArrTime,UniqueCarrier,FlightNum,CRSElapsedTime,Origin,Dest,Cancelled,Diverted
0,1993,1,29,5,1055,1212,US,66,77,EWR,BUF,0,0
1,1993,1,30,6,1055,1212,US,66,77,EWR,BUF,0,0
2,1993,1,31,7,1055,1212,US,66,77,EWR,BUF,0,0
3,1993,1,1,5,1730,1941,US,68,131,MCO,PIT,0,0
4,1993,1,3,7,1730,1941,US,68,131,MCO,PIT,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5070496,1993,12,2,4,950,1130,CO,1671,100,GSO,TPA,0,0
5070497,1993,12,3,5,950,1130,CO,1671,100,GSO,TPA,0,0
5070498,1993,12,5,7,950,1130,CO,1671,100,GSO,TPA,0,0
5070499,1993,12,6,1,950,1130,CO,1671,100,GSO,TPA,0,0
5070500,1993,12,7,2,950,1130,CO,1671,100,GSO,TPA,0,0

In [64]:
flight_1994_dropped

,Year,Month,DayofMonth,DayOfWeek,CRSDepTime,CRSArrTime,UniqueCarrier,FlightNum,CRSElapsedTime,Origin,Dest,Cancelled,Diverted
0,1994,1,7,5,900,1003,US,227,63,CLT,ORF,0,0
1,1994,1,8,6,900,1003,US,227,63,CLT,ORF,0,0
2,1994,1,10,1,900,1003,US,227,63,CLT,ORF,0,0
3,1994,1,11,2,900,1003,US,227,63,CLT,ORF,0,0
4,1994,1,12,3,900,1003,US,227,63,CLT,ORF,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5180043,1994,12,25,7,1715,1945,DL,149,150,JFK,ATL,0,0
5180044,1994,12,26,1,1715,1945,DL,149,150,JFK,ATL,0,0
5180045,1994,12,27,2,1715,1945,DL,149,150,JFK,ATL,0,0
5180046,1994,12,28,3,1715,1945,DL,149,150,JFK,ATL,0,0
5180047,1994,12,29,4,1715,1945,DL,149,150,JFK,ATL,0,0

In [65]:
flight_1995_dropped

,Year,Month,DayofMonth,DayOfWeek,CRSDepTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,Origin,Dest,TaxiIn,TaxiOut,Cancelled,Diverted
0,1995,1,6,5,645,937,UA,482,N7298U,ORD,PHL,7,25,0,0
1,1995,1,7,6,645,937,UA,482,N7449U,ORD,PHL,5,17,0,0
2,1995,1,8,7,645,937,UA,482,N7453U,ORD,PHL,3,17,0,0
3,1995,1,9,1,645,937,UA,482,N7288U,ORD,PHL,3,16,0,0
4,1995,1,10,2,645,937,UA,482,N7275U,ORD,PHL,6,18,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5327430,1995,12,12,2,2215,2332,TW,427,N9409F,STL,DEN,5,12,0,0
5327431,1995,12,13,3,2215,2332,TW,427,N912TW,STL,DEN,6,24,0,0
5327432,1995,12,14,4,2215,2332,TW,427,N902TW,STL,DEN,5,16,0,0
5327433,1995,12,15,5,2215,2332,TW,427,N954U,STL,DEN,5,13,0,0
5327434,1995,12,17,7,2215,2332,TW,427,N920TW,STL,DEN,6,16,0,0

In [66]:
flight_1996_dropped

,Year,Month,DayofMonth,DayOfWeek,CRSDepTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,Diverted
0,1996,1,29,1,1930,2139,DL,345,N673DL,ATL,PHX,1587,6,10,0,0
1,1996,1,30,2,1930,2139,DL,345,N686DA,ATL,PHX,1587,5,22,0,0
2,1996,1,31,3,1930,2139,DL,345,N685DA,ATL,PHX,1587,7,27,0,0
3,1996,1,1,1,1550,1745,DL,411,N522DA,ATL,PHX,1587,4,14,0,0
4,1996,1,2,2,1550,1745,DL,411,N2824W,ATL,PHX,1587,4,8,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5351978,1996,12,6,5,0,0,AA,1885,N867AA,ATL,DFW,732,12,14,0,0
5351979,1996,12,7,6,0,0,AA,1885,N861AA,ATL,DFW,732,11,13,0,0
5351980,1996,12,8,7,0,0,AA,1885,N846AA,ATL,DFW,732,10,21,0,0
5351981,1996,12,9,1,0,0,AA,1885,N709AA,ATL,DFW,732,9,9,0,0
5351982,1996,12,10,2,0,0,AA,1885,N2DFAA,ATL,DFW,732,7,22,0,0

In [75]:
name=['Year','Month','DayofMonth','DayOfWeek','CRSDepTime','CRSArrTime','UniqueCarrier','FlightNum','Origin','Dest','Cancelled','Diverted']

In [70]:
year=[1987,1989,1990,1991,1992,1993,1994,1995,1996]

In [73]:
# frame=[]
# for i in year:
#     name='flight_'+str(i)+'_dropped'
#     frame.append(name)

In [76]:
frame=(flight_1987_dropped[name],
        flight_1989_dropped[name],
        flight_1990_dropped[name],
        flight_1991_dropped[name],
        flight_1992_dropped[name],
        flight_1993_dropped[name],
        flight_1994_dropped[name],
        flight_1995_dropped[name],
        flight_1996_dropped[name])

In [77]:
combine_data = pd.concat(frame)

In [78]:
combine_data

,Year,Month,DayofMonth,DayOfWeek,CRSDepTime,CRSArrTime,UniqueCarrier,FlightNum,Origin,Dest,Cancelled,Diverted
0,1987,10,14,3,730,849,PS,1451,SAN,SFO,0,0
1,1987,10,15,4,730,849,PS,1451,SAN,SFO,0,0
2,1987,10,17,6,730,849,PS,1451,SAN,SFO,0,0
3,1987,10,18,7,730,849,PS,1451,SAN,SFO,0,0
4,1987,10,19,1,730,849,PS,1451,SAN,SFO,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
5351978,1996,12,6,5,0,0,AA,1885,ATL,DFW,0,0
5351979,1996,12,7,6,0,0,AA,1885,ATL,DFW,0,0
5351980,1996,12,8,7,0,0,AA,1885,ATL,DFW,0,0
5351981,1996,12,9,1,0,0,AA,1885,ATL,DFW,0,0
5351982,1996,12,10,2,0,0,AA,1885,ATL,DFW,0,0

In [79]:
combine_data.to_csv('combine_data.csv')

In [ ]:
combine_data