In [2]:
import pandas as pd
from statistics import mean

In [3]:
flight_1987=pd.read_csv('data-analytics-files/1987.csv')
flight_1989=pd.read_csv('data-analytics-files/1989.csv')
flight_1990=pd.read_csv('data-analytics-files/1990.csv')
flight_1991=pd.read_csv('data-analytics-files/1991.csv')
flight_1992=pd.read_csv('data-analytics-files/1992.csv')
flight_1993=pd.read_csv('data-analytics-files/1993.csv')
flight_1994=pd.read_csv('data-analytics-files/1994.csv')
flight_1995=pd.read_csv('data-analytics-files/1995.csv')
flight_1996=pd.read_csv('data-analytics-files/1996.csv')

In [7]:
flight_1987

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,1987,10,14,3,741.0,730,912.0,849,PS,1451,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1,1987,10,15,4,729.0,730,903.0,849,PS,1451,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,1987,10,17,6,741.0,730,918.0,849,PS,1451,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3,1987,10,18,7,729.0,730,847.0,849,PS,1451,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,1987,10,19,1,749.0,730,922.0,849,PS,1451,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1311821,1987,12,11,5,1530.0,1530,1825.0,1823,CO,638,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1311822,1987,12,13,7,1530.0,1530,1815.0,1823,CO,638,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1311823,1987,12,14,1,1530.0,1530,1807.0,1823,CO,638,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1311824,1987,12,1,2,1525.0,1525,1643.0,1638,CO,639,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1311825,1987,12,2,3,1540.0,1525,1706.0,1638,CO,639,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [18]:
flight_1987.isna().sum()

Year                       0
Month                      0
DayofMonth                 0
DayOfWeek                  0
DepTime                19685
CRSDepTime                 0
ArrTime                23500
CRSArrTime                 0
UniqueCarrier              0
FlightNum                  0
TailNum              1311826
ActualElapsedTime      23500
CRSElapsedTime             0
AirTime              1311826
ArrDelay               23500
DepDelay               19685
Origin                     0
Dest                       0
Distance                1015
TaxiIn               1311826
TaxiOut              1311826
Cancelled                  0
CancellationCode     1311826
Diverted                   0
CarrierDelay         1311826
WeatherDelay         1311826
NASDelay             1311826
SecurityDelay        1311826
LateAircraftDelay    1311826
dtype: int64

In [45]:
missing_columns_1987=[]
for col in flight_1987.columns:
    if flight_1987[f"{col}"].isnull().all()==True:
        missing_columns_1987.append(col)
df=flight_1987.drop(missing_columns_1987,axis=1)
flight_1987_cleaned=df.fillna(0)

In [46]:
flight_1987_cleaned

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,ActualElapsedTime,CRSElapsedTime,ArrDelay,DepDelay,Origin,Dest,Distance,Cancelled,Diverted
0,1987,10,14,3,741.0,730,912.0,849,PS,1451,91.0,79,23.0,11.0,SAN,SFO,447.0,0,0
1,1987,10,15,4,729.0,730,903.0,849,PS,1451,94.0,79,14.0,-1.0,SAN,SFO,447.0,0,0
2,1987,10,17,6,741.0,730,918.0,849,PS,1451,97.0,79,29.0,11.0,SAN,SFO,447.0,0,0
3,1987,10,18,7,729.0,730,847.0,849,PS,1451,78.0,79,-2.0,-1.0,SAN,SFO,447.0,0,0
4,1987,10,19,1,749.0,730,922.0,849,PS,1451,93.0,79,33.0,19.0,SAN,SFO,447.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1311821,1987,12,11,5,1530.0,1530,1825.0,1823,CO,638,115.0,113,2.0,0.0,ORD,EWR,719.0,0,0
1311822,1987,12,13,7,1530.0,1530,1815.0,1823,CO,638,105.0,113,-8.0,0.0,ORD,EWR,719.0,0,0
1311823,1987,12,14,1,1530.0,1530,1807.0,1823,CO,638,97.0,113,-16.0,0.0,ORD,EWR,719.0,0,0
1311824,1987,12,1,2,1525.0,1525,1643.0,1638,CO,639,78.0,73,5.0,0.0,BOS,EWR,200.0,0,0
1311825,1987,12,2,3,1540.0,1525,1706.0,1638,CO,639,86.0,73,28.0,15.0,BOS,EWR,200.0,0,0

In [26]:
flight_1989.isnull().sum()

Year                       0
Month                      0
DayofMonth                 0
DayOfWeek                  0
DepTime                74165
CRSDepTime                 0
ArrTime                89004
CRSArrTime                 0
UniqueCarrier              0
FlightNum                  0
TailNum              5041200
ActualElapsedTime      89004
CRSElapsedTime             0
AirTime              5041200
ArrDelay               89004
DepDelay               74165
Origin                     0
Dest                       0
Distance               26988
TaxiIn               5041200
TaxiOut              5041200
Cancelled                  0
CancellationCode     5041200
Diverted                   0
CarrierDelay         5041200
WeatherDelay         5041200
NASDelay             5041200
SecurityDelay        5041200
LateAircraftDelay    5041200
dtype: int64

In [47]:
missing_columns_1989=[]
for col in flight_1989.columns:
    if flight_1989[f"{col}"].isnull().all()==True:
        missing_columns_1989.append(col)
df=flight_1989.drop(missing_columns_1987,axis=1)
flight_1989_cleaned=df.fillna(0)

In [48]:
flight_1989_cleaned

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,ActualElapsedTime,CRSElapsedTime,ArrDelay,DepDelay,Origin,Dest,Distance,Cancelled,Diverted
0,1989,1,23,1,1419.0,1230,1742.0,1552,UA,183,323.0,322,110.0,109.0,SFO,HNL,2398.0,0,0
1,1989,1,24,2,1255.0,1230,1612.0,1552,UA,183,317.0,322,20.0,25.0,SFO,HNL,2398.0,0,0
2,1989,1,25,3,1230.0,1230,1533.0,1552,UA,183,303.0,322,-19.0,0.0,SFO,HNL,2398.0,0,0
3,1989,1,26,4,1230.0,1230,1523.0,1552,UA,183,293.0,322,-29.0,0.0,SFO,HNL,2398.0,0,0
4,1989,1,27,5,1232.0,1230,1513.0,1552,UA,183,281.0,322,-39.0,2.0,SFO,HNL,2398.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5041195,1989,12,12,2,1858.0,1758,2035.0,1932,DL,220,97.0,94,63.0,60.0,CVG,PHL,507.0,0,0
5041196,1989,12,13,3,1807.0,1758,1945.0,1932,DL,220,98.0,94,13.0,9.0,CVG,PHL,507.0,0,0
5041197,1989,12,14,4,1758.0,1758,1923.0,1932,DL,220,85.0,94,-9.0,0.0,CVG,PHL,507.0,0,0
5041198,1989,12,15,5,1810.0,1800,1937.0,1930,DL,220,87.0,90,7.0,10.0,CVG,PHL,507.0,0,0
5041199,1989,12,17,7,1800.0,1800,1926.0,1930,DL,220,86.0,90,-4.0,0.0,CVG,PHL,507.0,0,0

In [51]:
missing_columns_1990=[]
for col in flight_1990.columns:
    if flight_1990[f"{col}"].isnull().all()==True:
        missing_columns_1990.append(col)
df=flight_1990.drop(missing_columns_1990,axis=1)
flight_1990_cleaned=df.fillna(0)

In [52]:
flight_1990_cleaned

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,ActualElapsedTime,CRSElapsedTime,ArrDelay,DepDelay,Origin,Dest,Distance,Cancelled,Diverted
0,1990,1,3,3,1707.0,1630,1755.0,1723,US,29,48.0,53,32.0,37.0,CMH,IND,182.0,0,0
1,1990,1,4,4,1706.0,1630,1807.0,1723,US,29,61.0,53,44.0,36.0,CMH,IND,182.0,0,0
2,1990,1,5,5,1629.0,1630,1715.0,1723,US,29,46.0,53,-8.0,-1.0,CMH,IND,182.0,0,0
3,1990,1,6,6,1633.0,1630,1718.0,1723,US,29,45.0,53,-5.0,3.0,CMH,IND,182.0,0,0
4,1990,1,8,1,1630.0,1630,1726.0,1723,US,29,56.0,53,3.0,0.0,CMH,IND,182.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5270888,1990,12,20,4,2150.0,2128,2233.0,2220,DL,229,103.0,112,13.0,22.0,SLC,PDX,630.0,0,0
5270889,1990,12,21,5,2207.0,2128,2252.0,2220,DL,229,105.0,112,32.0,39.0,SLC,PDX,630.0,0,0
5270890,1990,12,22,6,2145.0,2128,2219.0,2220,DL,229,94.0,112,-1.0,17.0,SLC,PDX,630.0,0,0
5270891,1990,12,23,7,2139.0,2128,2225.0,2220,DL,229,106.0,112,5.0,11.0,SLC,PDX,630.0,0,0
5270892,1990,12,24,1,2128.0,2128,2212.0,2220,DL,229,104.0,112,-8.0,0.0,SLC,PDX,630.0,0,0

In [53]:
missing_columns_1991=[]
for col in flight_1991.columns:
    if flight_1991[f"{col}"].isnull().all()==True:
        missing_columns_1991.append(col)
df=flight_1991.drop(missing_columns_1991,axis=1)
flight_1991_cleaned=df.fillna(0)

In [54]:
flight_1991_cleaned

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,ActualElapsedTime,CRSElapsedTime,ArrDelay,DepDelay,Origin,Dest,Distance,Cancelled,Diverted
0,1991,1,1,2,1709.0,1705,1944.0,1944,US,112,155.0,159,0.0,4.0,TPA,SYR,1104.0,0,0
1,1991,1,2,3,1704.0,1705,1946.0,1944,US,112,162.0,159,2.0,-1.0,TPA,SYR,1104.0,0,0
2,1991,1,3,4,1705.0,1705,1934.0,1944,US,112,149.0,159,-10.0,0.0,TPA,SYR,1104.0,0,0
3,1991,1,4,5,1709.0,1705,1951.0,1944,US,112,162.0,159,7.0,4.0,TPA,SYR,1104.0,0,0
4,1991,1,5,6,1703.0,1705,1936.0,1944,US,112,153.0,159,-8.0,-2.0,TPA,SYR,1104.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5076920,1991,12,8,7,1130.0,1130,1413.0,1359,CO,1550,163.0,149,14.0,0.0,MCO,LGA,950.0,0,0
5076921,1991,12,9,1,1130.0,1130,1353.0,1359,CO,1550,143.0,149,-6.0,0.0,MCO,LGA,950.0,0,0
5076922,1991,12,10,2,1128.0,1130,1356.0,1359,CO,1550,148.0,149,-3.0,-2.0,MCO,LGA,950.0,0,0
5076923,1991,12,11,3,1130.0,1130,1402.0,1359,CO,1550,152.0,149,3.0,0.0,MCO,LGA,950.0,0,0
5076924,1991,12,12,4,943.0,910,1253.0,1224,CO,1550,130.0,134,29.0,33.0,SNA,DEN,846.0,0,0

In [55]:
missing_columns_1992=[]
for col in flight_1992.columns:
    if flight_1992[f"{col}"].isnull().all()==True:
        missing_columns_1992.append(col)
df=flight_1992.drop(missing_columns_1992,axis=1)
flight_1992_cleaned=df.fillna(0)

In [56]:
flight_1992_cleaned

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,ActualElapsedTime,CRSElapsedTime,ArrDelay,DepDelay,Origin,Dest,Distance,Cancelled,Diverted
0,1992,1,2,4,748.0,750,851.0,846,US,53,63.0,56,5.0,-2.0,CMH,IND,182.0,0,0
1,1992,1,3,5,750.0,750,843.0,846,US,53,53.0,56,-3.0,0.0,CMH,IND,182.0,0,0
2,1992,1,4,6,747.0,750,843.0,846,US,53,56.0,56,-3.0,-3.0,CMH,IND,182.0,0,0
3,1992,1,5,7,750.0,750,850.0,846,US,53,60.0,56,4.0,0.0,CMH,IND,182.0,0,0
4,1992,1,6,1,752.0,750,838.0,846,US,53,46.0,56,-8.0,2.0,CMH,IND,182.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5092152,1992,12,2,3,1847.0,1847,2233.0,2240,CO,1582,166.0,173,-7.0,0.0,IAH,PIT,1117.0,0,0
5092153,1992,12,3,4,1847.0,1847,2225.0,2240,CO,1582,158.0,173,-15.0,0.0,IAH,PIT,1117.0,0,0
5092154,1992,12,4,5,1847.0,1847,2225.0,2240,CO,1582,158.0,173,-15.0,0.0,IAH,PIT,1117.0,0,0
5092155,1992,12,5,6,1847.0,1847,2220.0,2240,CO,1582,153.0,173,-20.0,0.0,IAH,PIT,1117.0,0,0
5092156,1992,12,6,7,1845.0,1847,2236.0,2240,CO,1582,171.0,173,-4.0,-2.0,IAH,PIT,1117.0,0,0

In [57]:
missing_columns_1993=[]
for col in flight_1993.columns:
    if flight_1993[f"{col}"].isnull().all()==True:
        missing_columns_1993.append(col)
df=flight_1993.drop(missing_columns_1993,axis=1)
flight_1993_cleaned=df.fillna(0)

In [58]:
flight_1993_cleaned

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,ActualElapsedTime,CRSElapsedTime,ArrDelay,DepDelay,Origin,Dest,Distance,Cancelled,Diverted
0,1993,1,29,5,1055.0,1055,1228.0,1212,US,66,93.0,77,16.0,0.0,EWR,BUF,282.0,0,0
1,1993,1,30,6,1052.0,1055,1214.0,1212,US,66,82.0,77,2.0,-3.0,EWR,BUF,282.0,0,0
2,1993,1,31,7,1103.0,1055,1213.0,1212,US,66,70.0,77,1.0,8.0,EWR,BUF,282.0,0,0
3,1993,1,1,5,1738.0,1730,1949.0,1941,US,68,131.0,131,8.0,8.0,MCO,PIT,834.0,0,0
4,1993,1,3,7,1737.0,1730,1946.0,1941,US,68,129.0,131,5.0,7.0,MCO,PIT,834.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5070496,1993,12,2,4,956.0,950,1137.0,1130,CO,1671,101.0,100,7.0,6.0,GSO,TPA,580.0,0,0
5070497,1993,12,3,5,950.0,950,1130.0,1130,CO,1671,100.0,100,0.0,0.0,GSO,TPA,580.0,0,0
5070498,1993,12,5,7,948.0,950,1120.0,1130,CO,1671,92.0,100,-10.0,-2.0,GSO,TPA,580.0,0,0
5070499,1993,12,6,1,950.0,950,1121.0,1130,CO,1671,91.0,100,-9.0,0.0,GSO,TPA,580.0,0,0
5070500,1993,12,7,2,947.0,950,1124.0,1130,CO,1671,97.0,100,-6.0,-3.0,GSO,TPA,580.0,0,0

In [59]:
missing_columns_1994=[]
for col in flight_1994.columns:
    if flight_1994[f"{col}"].isnull().all()==True:
        missing_columns_1994.append(col)
df=flight_1994.drop(missing_columns_1994,axis=1)
flight_1994_cleaned=df.fillna(0)

In [60]:
flight_1994_cleaned

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,ActualElapsedTime,CRSElapsedTime,ArrDelay,DepDelay,Origin,Dest,Distance,Cancelled,Diverted
0,1994,1,7,5,858.0,900,954.0,1003,US,227,56.0,63,-9.0,-2.0,CLT,ORF,290.0,0,0
1,1994,1,8,6,859.0,900,952.0,1003,US,227,53.0,63,-11.0,-1.0,CLT,ORF,290.0,0,0
2,1994,1,10,1,935.0,900,1023.0,1003,US,227,48.0,63,20.0,35.0,CLT,ORF,290.0,0,0
3,1994,1,11,2,903.0,900,1131.0,1003,US,227,148.0,63,88.0,3.0,CLT,ORF,290.0,0,0
4,1994,1,12,3,933.0,900,1024.0,1003,US,227,51.0,63,21.0,33.0,CLT,ORF,290.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5180043,1994,12,25,7,1716.0,1715,1923.0,1945,DL,149,127.0,150,-22.0,1.0,JFK,ATL,760.0,0,0
5180044,1994,12,26,1,1716.0,1715,1910.0,1945,DL,149,114.0,150,-35.0,1.0,JFK,ATL,760.0,0,0
5180045,1994,12,27,2,1721.0,1715,1930.0,1945,DL,149,129.0,150,-15.0,6.0,JFK,ATL,760.0,0,0
5180046,1994,12,28,3,1715.0,1715,1934.0,1945,DL,149,139.0,150,-11.0,0.0,JFK,ATL,760.0,0,0
5180047,1994,12,29,4,1715.0,1715,1941.0,1945,DL,149,146.0,150,-4.0,0.0,JFK,ATL,760.0,0,0

In [63]:
missing_columns_1995=[]
for col in flight_1995.columns:
    if flight_1995[f"{col}"].isnull().all()==True:
        missing_columns_1995.append(col)
df=flight_1995.drop(missing_columns_1995,axis=1)
flight_1995_cleaned=df.fillna(0)

In [64]:
flight_1995_cleaned

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,Diverted
0,1995,1,6,5,657.0,645,952.0,937,UA,482,...,83.0,15.0,12.0,ORD,PHL,678.0,7,25,0,0
1,1995,1,7,6,648.0,645,938.0,937,UA,482,...,88.0,1.0,3.0,ORD,PHL,678.0,5,17,0,0
2,1995,1,8,7,649.0,645,932.0,937,UA,482,...,83.0,-5.0,4.0,ORD,PHL,678.0,3,17,0,0
3,1995,1,9,1,645.0,645,928.0,937,UA,482,...,84.0,-9.0,0.0,ORD,PHL,678.0,3,16,0,0
4,1995,1,10,2,645.0,645,931.0,937,UA,482,...,82.0,-6.0,0.0,ORD,PHL,678.0,6,18,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5327430,1995,12,12,2,2217.0,2215,2332.0,2332,TW,427,...,118.0,0.0,2.0,STL,DEN,770.0,5,12,0,0
5327431,1995,12,13,3,2216.0,2215,2355.0,2332,TW,427,...,129.0,23.0,1.0,STL,DEN,770.0,6,24,0,0
5327432,1995,12,14,4,2215.0,2215,2341.0,2332,TW,427,...,125.0,9.0,0.0,STL,DEN,770.0,5,16,0,0
5327433,1995,12,15,5,2236.0,2215,2348.0,2332,TW,427,...,114.0,16.0,21.0,STL,DEN,770.0,5,13,0,0
5327434,1995,12,17,7,2215.0,2215,2328.0,2332,TW,427,...,111.0,-4.0,0.0,STL,DEN,770.0,6,16,0,0

In [65]:
missing_columns_1996=[]
for col in flight_1996.columns:
    if flight_1996[f"{col}"].isnull().all()==True:
        missing_columns_1996.append(col)
df=flight_1996.drop(missing_columns_1996,axis=1)
flight_1996_cleaned=df.fillna(0)

In [66]:
flight_1996_cleaned

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,Diverted
0,1996,1,29,1,2039.0,1930,2245.0,2139,DL,345,...,230.0,66.0,69.0,ATL,PHX,1587,6,10,0,0
1,1996,1,30,2,1931.0,1930,2142.0,2139,DL,345,...,224.0,3.0,1.0,ATL,PHX,1587,5,22,0,0
2,1996,1,31,3,1956.0,1930,2231.0,2139,DL,345,...,241.0,52.0,26.0,ATL,PHX,1587,7,27,0,0
3,1996,1,1,1,1730.0,1550,1909.0,1745,DL,411,...,201.0,84.0,100.0,ATL,PHX,1587,4,14,0,0
4,1996,1,2,2,1714.0,1550,1841.0,1745,DL,411,...,195.0,56.0,84.0,ATL,PHX,1587,4,8,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5351978,1996,12,6,5,1512.0,0,1624.0,0,AA,1885,...,106.0,-12.0,-2.0,ATL,DFW,732,12,14,0,0
5351979,1996,12,7,6,1514.0,0,1633.0,0,AA,1885,...,115.0,-3.0,0.0,ATL,DFW,732,11,13,0,0
5351980,1996,12,8,7,1510.0,0,1650.0,0,AA,1885,...,129.0,14.0,-4.0,ATL,DFW,732,10,21,0,0
5351981,1996,12,9,1,1513.0,0,1616.0,0,AA,1885,...,105.0,-20.0,-1.0,ATL,DFW,732,9,9,0,0
5351982,1996,12,10,2,1526.0,0,1643.0,0,AA,1885,...,108.0,7.0,12.0,ATL,DFW,732,7,22,0,0

In [67]:
flight_1987_cleaned.columns

Index(['Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime', 'CRSDepTime',
       'ArrTime', 'CRSArrTime', 'UniqueCarrier', 'FlightNum',
       'ActualElapsedTime', 'CRSElapsedTime', 'ArrDelay', 'DepDelay', 'Origin',
       'Dest', 'Distance', 'Cancelled', 'Diverted'],
      dtype='object')

In [68]:
flight_1996_cleaned.columns

Index(['Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime', 'CRSDepTime',
       'ArrTime', 'CRSArrTime', 'UniqueCarrier', 'FlightNum', 'TailNum',
       'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay',
       'DepDelay', 'Origin', 'Dest', 'Distance', 'TaxiIn', 'TaxiOut',
       'Cancelled', 'Diverted'],
      dtype='object')

In [69]:
flight_1989_cleaned.columns

Index(['Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime', 'CRSDepTime',
       'ArrTime', 'CRSArrTime', 'UniqueCarrier', 'FlightNum',
       'ActualElapsedTime', 'CRSElapsedTime', 'ArrDelay', 'DepDelay', 'Origin',
       'Dest', 'Distance', 'Cancelled', 'Diverted'],
      dtype='object')

In [71]:
flight_1990_cleaned.columns

Index(['Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime', 'CRSDepTime',
       'ArrTime', 'CRSArrTime', 'UniqueCarrier', 'FlightNum',
       'ActualElapsedTime', 'CRSElapsedTime', 'ArrDelay', 'DepDelay', 'Origin',
       'Dest', 'Distance', 'Cancelled', 'Diverted'],
      dtype='object')

In [77]:
common_columns=flight_1987_cleaned.columns

In [78]:
frame=[flight_1987_cleaned,
    flight_1989_cleaned,   
    flight_1990_cleaned,
    flight_1991_cleaned,
    flight_1992_cleaned,
    flight_1993_cleaned,
    flight_1994_cleaned,
    flight_1995_cleaned[common_columns],
    flight_1996_cleaned[common_columns]]

In [79]:
combine_data=pd.concat(frame)

In [83]:
combine_data['id']=combine_data.index

In [86]:
combine_data.drop('id',
  axis='columns', inplace=True)

In [94]:
combine_data.drop('index',axis='columns',inplace=True)

In [95]:
combine_data

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,ActualElapsedTime,CRSElapsedTime,ArrDelay,DepDelay,Origin,Dest,Distance,Cancelled,Diverted
0,1987,10,14,3,741.0,730,912.0,849,PS,1451,91.0,79.0,23.0,11.0,SAN,SFO,447.0,0,0
1,1987,10,15,4,729.0,730,903.0,849,PS,1451,94.0,79.0,14.0,-1.0,SAN,SFO,447.0,0,0
2,1987,10,17,6,741.0,730,918.0,849,PS,1451,97.0,79.0,29.0,11.0,SAN,SFO,447.0,0,0
3,1987,10,18,7,729.0,730,847.0,849,PS,1451,78.0,79.0,-2.0,-1.0,SAN,SFO,447.0,0,0
4,1987,10,19,1,749.0,730,922.0,849,PS,1451,93.0,79.0,33.0,19.0,SAN,SFO,447.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42722963,1996,12,6,5,1512.0,0,1624.0,0,AA,1885,132.0,142.0,-12.0,-2.0,ATL,DFW,732.0,0,0
42722964,1996,12,7,6,1514.0,0,1633.0,0,AA,1885,139.0,142.0,-3.0,0.0,ATL,DFW,732.0,0,0
42722965,1996,12,8,7,1510.0,0,1650.0,0,AA,1885,160.0,142.0,14.0,-4.0,ATL,DFW,732.0,0,0
42722966,1996,12,9,1,1513.0,0,1616.0,0,AA,1885,123.0,142.0,-20.0,-1.0,ATL,DFW,732.0,0,0
42722967,1996,12,10,2,1526.0,0,1643.0,0,AA,1885,137.0,142.0,7.0,12.0,ATL,DFW,732.0,0,0

In [96]:
combine_data.isnull().sum()

Year                 0
Month                0
DayofMonth           0
DayOfWeek            0
DepTime              0
CRSDepTime           0
ArrTime              0
CRSArrTime           0
UniqueCarrier        0
FlightNum            0
ActualElapsedTime    0
CRSElapsedTime       0
ArrDelay             0
DepDelay             0
Origin               0
Dest                 0
Distance             0
Cancelled            0
Diverted             0
dtype: int64

In [100]:
combine_data['id']=combine_data.index

In [101]:
combine_data

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,ActualElapsedTime,CRSElapsedTime,ArrDelay,DepDelay,Origin,Dest,Distance,Cancelled,Diverted,id
0,1987,10,14,3,741.0,730,912.0,849,PS,1451,91.0,79.0,23.0,11.0,SAN,SFO,447.0,0,0,0
1,1987,10,15,4,729.0,730,903.0,849,PS,1451,94.0,79.0,14.0,-1.0,SAN,SFO,447.0,0,0,1
2,1987,10,17,6,741.0,730,918.0,849,PS,1451,97.0,79.0,29.0,11.0,SAN,SFO,447.0,0,0,2
3,1987,10,18,7,729.0,730,847.0,849,PS,1451,78.0,79.0,-2.0,-1.0,SAN,SFO,447.0,0,0,3
4,1987,10,19,1,749.0,730,922.0,849,PS,1451,93.0,79.0,33.0,19.0,SAN,SFO,447.0,0,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42722963,1996,12,6,5,1512.0,0,1624.0,0,AA,1885,132.0,142.0,-12.0,-2.0,ATL,DFW,732.0,0,0,42722963
42722964,1996,12,7,6,1514.0,0,1633.0,0,AA,1885,139.0,142.0,-3.0,0.0,ATL,DFW,732.0,0,0,42722964
42722965,1996,12,8,7,1510.0,0,1650.0,0,AA,1885,160.0,142.0,14.0,-4.0,ATL,DFW,732.0,0,0,42722965
42722966,1996,12,9,1,1513.0,0,1616.0,0,AA,1885,123.0,142.0,-20.0,-1.0,ATL,DFW,732.0,0,0,42722966
42722967,1996,12,10,2,1526.0,0,1643.0,0,AA,1885,137.0,142.0,7.0,12.0,ATL,DFW,732.0,0,0,42722967

In [117]:
cols = combine_data.columns.to_list()
cols = [cols[-1]] + cols[:-1]
combine_data = combine_data[cols]

In [119]:
combine_data.to_csv('combine_data.csv',index=False)

In [106]:
a=combine_data.columns

In [107]:
a

Index(['Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime', 'CRSDepTime',
       'ArrTime', 'CRSArrTime', 'UniqueCarrier', 'FlightNum',
       'ActualElapsedTime', 'CRSElapsedTime', 'ArrDelay', 'DepDelay', 'Origin',
       'Dest', 'Distance', 'Cancelled', 'Diverted', 'id'],
      dtype='object')

In [108]:
a[0]

'Year'

In [104]:
acombine_data.columns

Index(['Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime', 'CRSDepTime',
       'ArrTime', 'CRSArrTime', 'UniqueCarrier', 'FlightNum',
       'ActualElapsedTime', 'CRSElapsedTime', 'ArrDelay', 'DepDelay', 'Origin',
       'Dest', 'Distance', 'Cancelled', 'Diverted', 'id'],
      dtype='object')

In [97]:
combine_data.to_csv('combine_data.csv',index=True)

In [90]:
combine_data

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,ActualElapsedTime,CRSElapsedTime,ArrDelay,DepDelay,Origin,Dest,Distance,Cancelled,Diverted
0,1987,10,14,3,741.0,730,912.0,849,PS,1451,91.0,79.0,23.0,11.0,SAN,SFO,447.0,0,0
1,1987,10,15,4,729.0,730,903.0,849,PS,1451,94.0,79.0,14.0,-1.0,SAN,SFO,447.0,0,0
2,1987,10,17,6,741.0,730,918.0,849,PS,1451,97.0,79.0,29.0,11.0,SAN,SFO,447.0,0,0
3,1987,10,18,7,729.0,730,847.0,849,PS,1451,78.0,79.0,-2.0,-1.0,SAN,SFO,447.0,0,0
4,1987,10,19,1,749.0,730,922.0,849,PS,1451,93.0,79.0,33.0,19.0,SAN,SFO,447.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5351978,1996,12,6,5,1512.0,0,1624.0,0,AA,1885,132.0,142.0,-12.0,-2.0,ATL,DFW,732.0,0,0
5351979,1996,12,7,6,1514.0,0,1633.0,0,AA,1885,139.0,142.0,-3.0,0.0,ATL,DFW,732.0,0,0
5351980,1996,12,8,7,1510.0,0,1650.0,0,AA,1885,160.0,142.0,14.0,-4.0,ATL,DFW,732.0,0,0
5351981,1996,12,9,1,1513.0,0,1616.0,0,AA,1885,123.0,142.0,-20.0,-1.0,ATL,DFW,732.0,0,0
5351982,1996,12,10,2,1526.0,0,1643.0,0,AA,1885,137.0,142.0,7.0,12.0,ATL,DFW,732.0,0,0

In [82]:
combine_data.to_csv('combine_data.csv',index=False)

In [ ]:
df=

In [75]:
common_columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True])

In [ ]:
fli

In [28]:
flight_1989_cleaned

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,ActualElapsedTime,CRSElapsedTime,ArrDelay,DepDelay,Origin,Dest,Distance,Cancelled,Diverted
0,1989,1,23,1,1419.0,1230,1742.0,1552,UA,183,323.0,322,110.0,109.0,SFO,HNL,2398.0,0,0
1,1989,1,24,2,1255.0,1230,1612.0,1552,UA,183,317.0,322,20.0,25.0,SFO,HNL,2398.0,0,0
2,1989,1,25,3,1230.0,1230,1533.0,1552,UA,183,303.0,322,-19.0,0.0,SFO,HNL,2398.0,0,0
3,1989,1,26,4,1230.0,1230,1523.0,1552,UA,183,293.0,322,-29.0,0.0,SFO,HNL,2398.0,0,0
4,1989,1,27,5,1232.0,1230,1513.0,1552,UA,183,281.0,322,-39.0,2.0,SFO,HNL,2398.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5041195,1989,12,12,2,1858.0,1758,2035.0,1932,DL,220,97.0,94,63.0,60.0,CVG,PHL,507.0,0,0
5041196,1989,12,13,3,1807.0,1758,1945.0,1932,DL,220,98.0,94,13.0,9.0,CVG,PHL,507.0,0,0
5041197,1989,12,14,4,1758.0,1758,1923.0,1932,DL,220,85.0,94,-9.0,0.0,CVG,PHL,507.0,0,0
5041198,1989,12,15,5,1810.0,1800,1937.0,1930,DL,220,87.0,90,7.0,10.0,CVG,PHL,507.0,0,0
5041199,1989,12,17,7,1800.0,1800,1926.0,1930,DL,220,86.0,90,-4.0,0.0,CVG,PHL,507.0,0,0

In [41]:
# list=[flight_1987,flight_1989,flight_1990,flight_1991,flight_1992,flight_1993,flight_1994,flight_1995,flight_1996]
# for flight in list:
#     missing_columns=[]
#     for col in flight.columns:
#         print(col)
#         if flight[f'{col}'].isnull().all()==True:
#             missing_columns.append(col)
#     flight=flight.drop(missing_columns,axis=1)
#     flight=flight.fillna(0)
# for year in years:
#     missing_columns=[]
#     data_frame_name=f"{'flight_'+str(year)}"
#     for col in f"{data_frame_name}":
#         print (col)
    #     if data_frame_name[f"{col}"].isnull.all()==True:
    #         missing_columns.append(col)
    # data_frame_name=data_frame_name.drop(missing_columns,axis=1)
    # data_frame_name=data_frame_name.fillna(0)

Year
Month
DayofMonth
DayOfWeek
DepTime
CRSDepTime
ArrTime
CRSArrTime
UniqueCarrier
FlightNum
TailNum
ActualElapsedTime
CRSElapsedTime
AirTime
ArrDelay
DepDelay
Origin
Dest
Distance
TaxiIn
TaxiOut
Cancelled
CancellationCode
Diverted
CarrierDelay
WeatherDelay
NASDelay
SecurityDelay
LateAircraftDelay
Year
Month
DayofMonth
DayOfWeek
DepTime
CRSDepTime
ArrTime
CRSArrTime
UniqueCarrier
FlightNum
TailNum
ActualElapsedTime
CRSElapsedTime
AirTime
ArrDelay
DepDelay
Origin
Dest
Distance
TaxiIn
TaxiOut
Cancelled
CancellationCode
Diverted
CarrierDelay
WeatherDelay
NASDelay
SecurityDelay
LateAircraftDelay
Year
Month
DayofMonth
DayOfWeek
DepTime
CRSDepTime
ArrTime
CRSArrTime
UniqueCarrier
FlightNum
TailNum
ActualElapsedTime
CRSElapsedTime
AirTime
ArrDelay
DepDelay
Origin
Dest
Distance
TaxiIn
TaxiOut
Cancelled
CancellationCode
Diverted
CarrierDelay
WeatherDelay
NASDelay
SecurityDelay
LateAircraftDelay
Year
Month
DayofMonth
DayOfWeek
DepTime
CRSDepTime
ArrTime
CRSArrTime
UniqueCarrier
FlightNum
TailNum
ActualElapsedTime
CRSElapsedTime
AirTime
ArrDelay
DepDelay
Origin
Dest
Distance
TaxiIn
TaxiOut
Cancelled
CancellationCode
Diverted
CarrierDelay
WeatherDelay
NASDelay
SecurityDelay
LateAircraftDelay
Year
Month
DayofMonth
DayOfWeek
DepTime
CRSDepTime
ArrTime
CRSArrTime
UniqueCarrier
FlightNum
TailNum
ActualElapsedTime
CRSElapsedTime
AirTime
ArrDelay
DepDelay
Origin
Dest
Distance
TaxiIn
TaxiOut
Cancelled
CancellationCode
Diverted
CarrierDelay
WeatherDelay
NASDelay
SecurityDelay
LateAircraftDelay
Year
Month
DayofMonth
DayOfWeek
DepTime
CRSDepTime
ArrTime
CRSArrTime
UniqueCarrier
FlightNum
TailNum
ActualElapsedTime
CRSElapsedTime
AirTime
ArrDelay
DepDelay
Origin
Dest
Distance
TaxiIn
TaxiOut
Cancelled
CancellationCode
Diverted
CarrierDelay
WeatherDelay
NASDelay
SecurityDelay
LateAircraftDelay
Year
Month
DayofMonth
DayOfWeek
DepTime
CRSDepTime
ArrTime
CRSArrTime
UniqueCarrier
FlightNum
TailNum
ActualElapsedTime
CRSElapsedTime
AirTime
ArrDelay
DepDelay
Origin
Dest
Distance
TaxiIn
TaxiOut
Cancelled
CancellationCode
Diverted
CarrierDelay
WeatherDelay
NASDelay
SecurityDelay
LateAircraftDelay
Year
Month
DayofMonth
DayOfWeek
DepTime
CRSDepTime
ArrTime
CRSArrTime
UniqueCarrier
FlightNum
TailNum
ActualElapsedTime
CRSElapsedTime
AirTime
ArrDelay
DepDelay
Origin
Dest
Distance
TaxiIn
TaxiOut
Cancelled
CancellationCode
Diverted
CarrierDelay
WeatherDelay
NASDelay
SecurityDelay
LateAircraftDelay
Year
Month
DayofMonth
DayOfWeek
DepTime
CRSDepTime
ArrTime
CRSArrTime
UniqueCarrier
FlightNum
TailNum
ActualElapsedTime
CRSElapsedTime
AirTime
ArrDelay
DepDelay
Origin
Dest
Distance
TaxiIn
TaxiOut
Cancelled
CancellationCode
Diverted
CarrierDelay
WeatherDelay
NASDelay
SecurityDelay
LateAircraftDelay

In [42]:
flight_1987

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,1987,10,14,3,741.0,730,912.0,849,PS,1451,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1,1987,10,15,4,729.0,730,903.0,849,PS,1451,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,1987,10,17,6,741.0,730,918.0,849,PS,1451,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3,1987,10,18,7,729.0,730,847.0,849,PS,1451,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,1987,10,19,1,749.0,730,922.0,849,PS,1451,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1311821,1987,12,11,5,1530.0,1530,1825.0,1823,CO,638,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1311822,1987,12,13,7,1530.0,1530,1815.0,1823,CO,638,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1311823,1987,12,14,1,1530.0,1530,1807.0,1823,CO,638,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1311824,1987,12,1,2,1525.0,1525,1643.0,1638,CO,639,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1311825,1987,12,2,3,1540.0,1525,1706.0,1638,CO,639,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [43]:
flight_1989

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,1989,1,23,1,1419.0,1230,1742.0,1552,UA,183,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1,1989,1,24,2,1255.0,1230,1612.0,1552,UA,183,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,1989,1,25,3,1230.0,1230,1533.0,1552,UA,183,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3,1989,1,26,4,1230.0,1230,1523.0,1552,UA,183,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,1989,1,27,5,1232.0,1230,1513.0,1552,UA,183,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5041195,1989,12,12,2,1858.0,1758,2035.0,1932,DL,220,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
5041196,1989,12,13,3,1807.0,1758,1945.0,1932,DL,220,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
5041197,1989,12,14,4,1758.0,1758,1923.0,1932,DL,220,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
5041198,1989,12,15,5,1810.0,1800,1937.0,1930,DL,220,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
5041199,1989,12,17,7,1800.0,1800,1926.0,1930,DL,220,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [44]:
flight_1990

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,1990,1,3,3,1707.0,1630,1755.0,1723,US,29,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1,1990,1,4,4,1706.0,1630,1807.0,1723,US,29,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,1990,1,5,5,1629.0,1630,1715.0,1723,US,29,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3,1990,1,6,6,1633.0,1630,1718.0,1723,US,29,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,1990,1,8,1,1630.0,1630,1726.0,1723,US,29,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5270888,1990,12,20,4,2150.0,2128,2233.0,2220,DL,229,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
5270889,1990,12,21,5,2207.0,2128,2252.0,2220,DL,229,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
5270890,1990,12,22,6,2145.0,2128,2219.0,2220,DL,229,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
5270891,1990,12,23,7,2139.0,2128,2225.0,2220,DL,229,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
5270892,1990,12,24,1,2128.0,2128,2212.0,2220,DL,229,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [30]:
flight_1990.isnull().sum()

Year                       0
Month                      0
DayofMonth                 0
DayOfWeek                  0
DepTime                52458
CRSDepTime                 0
ArrTime                68412
CRSArrTime                 0
UniqueCarrier              0
FlightNum                  0
TailNum              5270893
ActualElapsedTime      68412
CRSElapsedTime             0
AirTime              5270893
ArrDelay               68412
DepDelay               52458
Origin                     0
Dest                       0
Distance               93437
TaxiIn               5270893
TaxiOut              5270893
Cancelled                  0
CancellationCode     5270893
Diverted                   0
CarrierDelay         5270893
WeatherDelay         5270893
NASDelay             5270893
SecurityDelay        5270893
LateAircraftDelay    5270893
dtype: int64

In [31]:
missing_columns_1990=[]
for col in flight_1990.columns:
    if flight_1990[f"{col}"].isnull().all()==True:
        missing_columns_1987.append(col)
df=flight_1987.drop(missing_columns_1987,axis=1)
flight_1987_cleaned=df.fillna(0)

In [32]:
flight_1990_dropped.isnull().sum()

Year              0
Month             0
DayofMonth        0
DayOfWeek         0
CRSDepTime        0
CRSArrTime        0
UniqueCarrier     0
FlightNum         0
CRSElapsedTime    0
Origin            0
Dest              0
Cancelled         0
Diverted          0
dtype: int64

In [33]:
flight_1991.isnull().sum()

Year                       0
Month                      0
DayofMonth                 0
DayOfWeek                  0
DepTime                43505
CRSDepTime                 0
ArrTime                56090
CRSArrTime                 0
UniqueCarrier              0
FlightNum                  0
TailNum              5076925
ActualElapsedTime      56090
CRSElapsedTime             0
AirTime              5076925
ArrDelay               56090
DepDelay               43505
Origin                     0
Dest                       0
Distance               26261
TaxiIn               5076925
TaxiOut              5076925
Cancelled                  0
CancellationCode     5076925
Diverted                   0
CarrierDelay         5076925
WeatherDelay         5076925
NASDelay             5076925
SecurityDelay        5076925
LateAircraftDelay    5076925
dtype: int64

In [34]:
flight_1991_dropped=flight_1991.dropna(axis=1)

In [37]:
flight_1991_dropped.isnull().sum()

Year              0
Month             0
DayofMonth        0
DayOfWeek         0
CRSDepTime        0
CRSArrTime        0
UniqueCarrier     0
FlightNum         0
CRSElapsedTime    0
Origin            0
Dest              0
Cancelled         0
Diverted          0
dtype: int64

In [39]:
flight_1992.isnull().sum()

Year                       0
Month                      0
DayofMonth                 0
DayOfWeek                  0
DepTime                52836
CRSDepTime                 0
ArrTime                64220
CRSArrTime                 0
UniqueCarrier              0
FlightNum                  0
TailNum              5092157
ActualElapsedTime      64220
CRSElapsedTime             0
AirTime              5092157
ArrDelay               64220
DepDelay               52836
Origin                     0
Dest                       0
Distance                7387
TaxiIn               5092157
TaxiOut              5092157
Cancelled                  0
CancellationCode     5092157
Diverted                   0
CarrierDelay         5092157
WeatherDelay         5092157
NASDelay             5092157
SecurityDelay        5092157
LateAircraftDelay    5092157
dtype: int64

In [40]:
flight_1992_dropped=flight_1992.dropna(axis=1)

In [42]:
flight_1992_dropped.isnull().sum()

Year              0
Month             0
DayofMonth        0
DayOfWeek         0
CRSDepTime        0
CRSArrTime        0
UniqueCarrier     0
FlightNum         0
CRSElapsedTime    0
Origin            0
Dest              0
Cancelled         0
Diverted          0
dtype: int64

In [43]:
flight_1993.isnull().sum()

Year                       0
Month                      0
DayofMonth                 0
DayOfWeek                  0
DepTime                59845
CRSDepTime                 0
ArrTime                70178
CRSArrTime                 0
UniqueCarrier              0
FlightNum                  0
TailNum              5070501
ActualElapsedTime      70178
CRSElapsedTime             0
AirTime              5070501
ArrDelay               70178
DepDelay               59845
Origin                     0
Dest                       0
Distance                6874
TaxiIn               5070501
TaxiOut              5070501
Cancelled                  0
CancellationCode     5070501
Diverted                   0
CarrierDelay         5070501
WeatherDelay         5070501
NASDelay             5070501
SecurityDelay        5070501
LateAircraftDelay    5070501
dtype: int64

In [44]:
flight_1993_dropped=flight_1993.dropna(axis=1)

In [45]:
flight_1993_dropped.isnull().sum()

Year              0
Month             0
DayofMonth        0
DayOfWeek         0
CRSDepTime        0
CRSArrTime        0
UniqueCarrier     0
FlightNum         0
CRSElapsedTime    0
Origin            0
Dest              0
Cancelled         0
Diverted          0
dtype: int64

In [47]:
flight_1994.isnull().sum()

Year                       0
Month                      0
DayofMonth                 0
DayOfWeek                  0
DepTime                66740
CRSDepTime                 0
ArrTime                78846
CRSArrTime                 0
UniqueCarrier              0
FlightNum                  0
TailNum              5180048
ActualElapsedTime      78846
CRSElapsedTime             0
AirTime              5180048
ArrDelay               78846
DepDelay               66740
Origin                     0
Dest                       0
Distance               22949
TaxiIn               5180048
TaxiOut              5180048
Cancelled                  0
CancellationCode     5180048
Diverted                   0
CarrierDelay         5180048
WeatherDelay         5180048
NASDelay             5180048
SecurityDelay        5180048
LateAircraftDelay    5180048
dtype: int64

In [48]:
flight_1994_dropped=flight_1994.dropna(axis=1)

In [49]:
flight_1994_dropped.isnull().sum()

Year              0
Month             0
DayofMonth        0
DayOfWeek         0
CRSDepTime        0
CRSArrTime        0
UniqueCarrier     0
FlightNum         0
CRSElapsedTime    0
Origin            0
Dest              0
Cancelled         0
Diverted          0
dtype: int64

In [51]:
flight_1995.isnull().sum()

Year                       0
Month                      0
DayofMonth                 0
DayOfWeek                  0
DepTime                91905
CRSDepTime                 0
ArrTime               102397
CRSArrTime                 0
UniqueCarrier              0
FlightNum                  0
TailNum                    0
ActualElapsedTime     102397
CRSElapsedTime          3249
AirTime                50349
ArrDelay              102397
DepDelay               91905
Origin                     0
Dest                       0
Distance                5987
TaxiIn                     0
TaxiOut                    0
Cancelled                  0
CancellationCode     5327435
Diverted                   0
CarrierDelay         5327435
WeatherDelay         5327435
NASDelay             5327435
SecurityDelay        5327435
LateAircraftDelay    5327435
dtype: int64

In [52]:
flight_1995_dropped=flight_1995.dropna(axis=1)

In [53]:
flight_1995_dropped.isnull().sum()

Year             0
Month            0
DayofMonth       0
DayOfWeek        0
CRSDepTime       0
CRSArrTime       0
UniqueCarrier    0
FlightNum        0
TailNum          0
Origin           0
Dest             0
TaxiIn           0
TaxiOut          0
Cancelled        0
Diverted         0
dtype: int64

In [54]:
flight_1996.isnull().sum()

Year                       0
Month                      0
DayofMonth                 0
DayOfWeek                  0
DepTime               128536
CRSDepTime                 0
ArrTime               142657
CRSArrTime                 0
UniqueCarrier              0
FlightNum                  0
TailNum                    0
ActualElapsedTime     142657
CRSElapsedTime          4646
AirTime               142657
ArrDelay              142657
DepDelay              128536
Origin                     0
Dest                       0
Distance                   0
TaxiIn                     0
TaxiOut                    0
Cancelled                  0
CancellationCode     5351983
Diverted                   0
CarrierDelay         5351983
WeatherDelay         5351983
NASDelay             5351983
SecurityDelay        5351983
LateAircraftDelay    5351983
dtype: int64

In [55]:
flight_1996_dropped=flight_1996.dropna(axis=1)

In [57]:
flight_1996_dropped.isnull().sum()

Year             0
Month            0
DayofMonth       0
DayOfWeek        0
CRSDepTime       0
CRSArrTime       0
UniqueCarrier    0
FlightNum        0
TailNum          0
Origin           0
Dest             0
Distance         0
TaxiIn           0
TaxiOut          0
Cancelled        0
Diverted         0
dtype: int64

In [58]:
flight_1987_dropped

,Year,Month,DayofMonth,DayOfWeek,CRSDepTime,CRSArrTime,UniqueCarrier,FlightNum,CRSElapsedTime,Origin,Dest,Cancelled,Diverted
0,1987,10,14,3,730,849,PS,1451,79,SAN,SFO,0,0
1,1987,10,15,4,730,849,PS,1451,79,SAN,SFO,0,0
2,1987,10,17,6,730,849,PS,1451,79,SAN,SFO,0,0
3,1987,10,18,7,730,849,PS,1451,79,SAN,SFO,0,0
4,1987,10,19,1,730,849,PS,1451,79,SAN,SFO,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1311821,1987,12,11,5,1530,1823,CO,638,113,ORD,EWR,0,0
1311822,1987,12,13,7,1530,1823,CO,638,113,ORD,EWR,0,0
1311823,1987,12,14,1,1530,1823,CO,638,113,ORD,EWR,0,0
1311824,1987,12,1,2,1525,1638,CO,639,73,BOS,EWR,0,0
1311825,1987,12,2,3,1525,1638,CO,639,73,BOS,EWR,0,0

In [59]:
flight_1989_dropped

,Year,Month,DayofMonth,DayOfWeek,CRSDepTime,CRSArrTime,UniqueCarrier,FlightNum,CRSElapsedTime,Origin,Dest,Cancelled,Diverted
0,1989,1,23,1,1230,1552,UA,183,322,SFO,HNL,0,0
1,1989,1,24,2,1230,1552,UA,183,322,SFO,HNL,0,0
2,1989,1,25,3,1230,1552,UA,183,322,SFO,HNL,0,0
3,1989,1,26,4,1230,1552,UA,183,322,SFO,HNL,0,0
4,1989,1,27,5,1230,1552,UA,183,322,SFO,HNL,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5041195,1989,12,12,2,1758,1932,DL,220,94,CVG,PHL,0,0
5041196,1989,12,13,3,1758,1932,DL,220,94,CVG,PHL,0,0
5041197,1989,12,14,4,1758,1932,DL,220,94,CVG,PHL,0,0
5041198,1989,12,15,5,1800,1930,DL,220,90,CVG,PHL,0,0
5041199,1989,12,17,7,1800,1930,DL,220,90,CVG,PHL,0,0

In [60]:
flight_1990_dropped

,Year,Month,DayofMonth,DayOfWeek,CRSDepTime,CRSArrTime,UniqueCarrier,FlightNum,CRSElapsedTime,Origin,Dest,Cancelled,Diverted
0,1990,1,3,3,1630,1723,US,29,53,CMH,IND,0,0
1,1990,1,4,4,1630,1723,US,29,53,CMH,IND,0,0
2,1990,1,5,5,1630,1723,US,29,53,CMH,IND,0,0
3,1990,1,6,6,1630,1723,US,29,53,CMH,IND,0,0
4,1990,1,8,1,1630,1723,US,29,53,CMH,IND,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5270888,1990,12,20,4,2128,2220,DL,229,112,SLC,PDX,0,0
5270889,1990,12,21,5,2128,2220,DL,229,112,SLC,PDX,0,0
5270890,1990,12,22,6,2128,2220,DL,229,112,SLC,PDX,0,0
5270891,1990,12,23,7,2128,2220,DL,229,112,SLC,PDX,0,0
5270892,1990,12,24,1,2128,2220,DL,229,112,SLC,PDX,0,0

In [61]:
flight_1991_dropped

,Year,Month,DayofMonth,DayOfWeek,CRSDepTime,CRSArrTime,UniqueCarrier,FlightNum,CRSElapsedTime,Origin,Dest,Cancelled,Diverted
0,1991,1,1,2,1705,1944,US,112,159,TPA,SYR,0,0
1,1991,1,2,3,1705,1944,US,112,159,TPA,SYR,0,0
2,1991,1,3,4,1705,1944,US,112,159,TPA,SYR,0,0
3,1991,1,4,5,1705,1944,US,112,159,TPA,SYR,0,0
4,1991,1,5,6,1705,1944,US,112,159,TPA,SYR,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5076920,1991,12,8,7,1130,1359,CO,1550,149,MCO,LGA,0,0
5076921,1991,12,9,1,1130,1359,CO,1550,149,MCO,LGA,0,0
5076922,1991,12,10,2,1130,1359,CO,1550,149,MCO,LGA,0,0
5076923,1991,12,11,3,1130,1359,CO,1550,149,MCO,LGA,0,0
5076924,1991,12,12,4,910,1224,CO,1550,134,SNA,DEN,0,0

In [62]:
flight_1992_dropped

,Year,Month,DayofMonth,DayOfWeek,CRSDepTime,CRSArrTime,UniqueCarrier,FlightNum,CRSElapsedTime,Origin,Dest,Cancelled,Diverted
0,1992,1,2,4,750,846,US,53,56,CMH,IND,0,0
1,1992,1,3,5,750,846,US,53,56,CMH,IND,0,0
2,1992,1,4,6,750,846,US,53,56,CMH,IND,0,0
3,1992,1,5,7,750,846,US,53,56,CMH,IND,0,0
4,1992,1,6,1,750,846,US,53,56,CMH,IND,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5092152,1992,12,2,3,1847,2240,CO,1582,173,IAH,PIT,0,0
5092153,1992,12,3,4,1847,2240,CO,1582,173,IAH,PIT,0,0
5092154,1992,12,4,5,1847,2240,CO,1582,173,IAH,PIT,0,0
5092155,1992,12,5,6,1847,2240,CO,1582,173,IAH,PIT,0,0
5092156,1992,12,6,7,1847,2240,CO,1582,173,IAH,PIT,0,0

In [63]:
flight_1993_dropped

,Year,Month,DayofMonth,DayOfWeek,CRSDepTime,CRSArrTime,UniqueCarrier,FlightNum,CRSElapsedTime,Origin,Dest,Cancelled,Diverted
0,1993,1,29,5,1055,1212,US,66,77,EWR,BUF,0,0
1,1993,1,30,6,1055,1212,US,66,77,EWR,BUF,0,0
2,1993,1,31,7,1055,1212,US,66,77,EWR,BUF,0,0
3,1993,1,1,5,1730,1941,US,68,131,MCO,PIT,0,0
4,1993,1,3,7,1730,1941,US,68,131,MCO,PIT,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5070496,1993,12,2,4,950,1130,CO,1671,100,GSO,TPA,0,0
5070497,1993,12,3,5,950,1130,CO,1671,100,GSO,TPA,0,0
5070498,1993,12,5,7,950,1130,CO,1671,100,GSO,TPA,0,0
5070499,1993,12,6,1,950,1130,CO,1671,100,GSO,TPA,0,0
5070500,1993,12,7,2,950,1130,CO,1671,100,GSO,TPA,0,0

In [64]:
flight_1994_dropped

,Year,Month,DayofMonth,DayOfWeek,CRSDepTime,CRSArrTime,UniqueCarrier,FlightNum,CRSElapsedTime,Origin,Dest,Cancelled,Diverted
0,1994,1,7,5,900,1003,US,227,63,CLT,ORF,0,0
1,1994,1,8,6,900,1003,US,227,63,CLT,ORF,0,0
2,1994,1,10,1,900,1003,US,227,63,CLT,ORF,0,0
3,1994,1,11,2,900,1003,US,227,63,CLT,ORF,0,0
4,1994,1,12,3,900,1003,US,227,63,CLT,ORF,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5180043,1994,12,25,7,1715,1945,DL,149,150,JFK,ATL,0,0
5180044,1994,12,26,1,1715,1945,DL,149,150,JFK,ATL,0,0
5180045,1994,12,27,2,1715,1945,DL,149,150,JFK,ATL,0,0
5180046,1994,12,28,3,1715,1945,DL,149,150,JFK,ATL,0,0
5180047,1994,12,29,4,1715,1945,DL,149,150,JFK,ATL,0,0

In [65]:
flight_1995_dropped

,Year,Month,DayofMonth,DayOfWeek,CRSDepTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,Origin,Dest,TaxiIn,TaxiOut,Cancelled,Diverted
0,1995,1,6,5,645,937,UA,482,N7298U,ORD,PHL,7,25,0,0
1,1995,1,7,6,645,937,UA,482,N7449U,ORD,PHL,5,17,0,0
2,1995,1,8,7,645,937,UA,482,N7453U,ORD,PHL,3,17,0,0
3,1995,1,9,1,645,937,UA,482,N7288U,ORD,PHL,3,16,0,0
4,1995,1,10,2,645,937,UA,482,N7275U,ORD,PHL,6,18,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5327430,1995,12,12,2,2215,2332,TW,427,N9409F,STL,DEN,5,12,0,0
5327431,1995,12,13,3,2215,2332,TW,427,N912TW,STL,DEN,6,24,0,0
5327432,1995,12,14,4,2215,2332,TW,427,N902TW,STL,DEN,5,16,0,0
5327433,1995,12,15,5,2215,2332,TW,427,N954U,STL,DEN,5,13,0,0
5327434,1995,12,17,7,2215,2332,TW,427,N920TW,STL,DEN,6,16,0,0

In [66]:
flight_1996_dropped

,Year,Month,DayofMonth,DayOfWeek,CRSDepTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,Diverted
0,1996,1,29,1,1930,2139,DL,345,N673DL,ATL,PHX,1587,6,10,0,0
1,1996,1,30,2,1930,2139,DL,345,N686DA,ATL,PHX,1587,5,22,0,0
2,1996,1,31,3,1930,2139,DL,345,N685DA,ATL,PHX,1587,7,27,0,0
3,1996,1,1,1,1550,1745,DL,411,N522DA,ATL,PHX,1587,4,14,0,0
4,1996,1,2,2,1550,1745,DL,411,N2824W,ATL,PHX,1587,4,8,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5351978,1996,12,6,5,0,0,AA,1885,N867AA,ATL,DFW,732,12,14,0,0
5351979,1996,12,7,6,0,0,AA,1885,N861AA,ATL,DFW,732,11,13,0,0
5351980,1996,12,8,7,0,0,AA,1885,N846AA,ATL,DFW,732,10,21,0,0
5351981,1996,12,9,1,0,0,AA,1885,N709AA,ATL,DFW,732,9,9,0,0
5351982,1996,12,10,2,0,0,AA,1885,N2DFAA,ATL,DFW,732,7,22,0,0

In [75]:
name=['Year','Month','DayofMonth','DayOfWeek','CRSDepTime','CRSArrTime','UniqueCarrier','FlightNum','Origin','Dest','Cancelled','Diverted']

In [70]:
year=[1987,1989,1990,1991,1992,1993,1994,1995,1996]

In [73]:
# frame=[]
# for i in year:
#     name='flight_'+str(i)+'_dropped'
#     frame.append(name)

In [76]:
frame=(flight_1987_dropped[name],
        flight_1989_dropped[name],
        flight_1990_dropped[name],
        flight_1991_dropped[name],
        flight_1992_dropped[name],
        flight_1993_dropped[name],
        flight_1994_dropped[name],
        flight_1995_dropped[name],
        flight_1996_dropped[name])

In [77]:
combine_data = pd.concat(frame)

In [78]:
combine_data

,Year,Month,DayofMonth,DayOfWeek,CRSDepTime,CRSArrTime,UniqueCarrier,FlightNum,Origin,Dest,Cancelled,Diverted
0,1987,10,14,3,730,849,PS,1451,SAN,SFO,0,0
1,1987,10,15,4,730,849,PS,1451,SAN,SFO,0,0
2,1987,10,17,6,730,849,PS,1451,SAN,SFO,0,0
3,1987,10,18,7,730,849,PS,1451,SAN,SFO,0,0
4,1987,10,19,1,730,849,PS,1451,SAN,SFO,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
5351978,1996,12,6,5,0,0,AA,1885,ATL,DFW,0,0
5351979,1996,12,7,6,0,0,AA,1885,ATL,DFW,0,0
5351980,1996,12,8,7,0,0,AA,1885,ATL,DFW,0,0
5351981,1996,12,9,1,0,0,AA,1885,ATL,DFW,0,0
5351982,1996,12,10,2,0,0,AA,1885,ATL,DFW,0,0

In [83]:
combine_data.to_csv('combine_data.csv',index=False)

In [84]:
df=pd.read_csv('combine_data.csv')

In [87]:
df['id']=df.index

In [88]:
df

,Year,Month,DayofMonth,DayOfWeek,CRSDepTime,CRSArrTime,UniqueCarrier,FlightNum,Origin,Dest,Cancelled,Diverted,id
0,1987,10,14,3,730,849,PS,1451,SAN,SFO,0,0,0
1,1987,10,15,4,730,849,PS,1451,SAN,SFO,0,0,1
2,1987,10,17,6,730,849,PS,1451,SAN,SFO,0,0,2
3,1987,10,18,7,730,849,PS,1451,SAN,SFO,0,0,3
4,1987,10,19,1,730,849,PS,1451,SAN,SFO,0,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
42722963,1996,12,6,5,0,0,AA,1885,ATL,DFW,0,0,42722963
42722964,1996,12,7,6,0,0,AA,1885,ATL,DFW,0,0,42722964
42722965,1996,12,8,7,0,0,AA,1885,ATL,DFW,0,0,42722965
42722966,1996,12,9,1,0,0,AA,1885,ATL,DFW,0,0,42722966
42722967,1996,12,10,2,0,0,AA,1885,ATL,DFW,0,0,42722967

In [89]:
new_cols=['id','Year','Month','DayofMonth','DayOfWeek','CRSDepTime','CRSArrTime','UniqueCarrier','FlightNum','Origin','Dest','Cancelled','Diverted']

In [90]:
df=df[new_cols]

In [91]:
df

,id,Year,Month,DayofMonth,DayOfWeek,CRSDepTime,CRSArrTime,UniqueCarrier,FlightNum,Origin,Dest,Cancelled,Diverted
0,0,1987,10,14,3,730,849,PS,1451,SAN,SFO,0,0
1,1,1987,10,15,4,730,849,PS,1451,SAN,SFO,0,0
2,2,1987,10,17,6,730,849,PS,1451,SAN,SFO,0,0
3,3,1987,10,18,7,730,849,PS,1451,SAN,SFO,0,0
4,4,1987,10,19,1,730,849,PS,1451,SAN,SFO,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
42722963,42722963,1996,12,6,5,0,0,AA,1885,ATL,DFW,0,0
42722964,42722964,1996,12,7,6,0,0,AA,1885,ATL,DFW,0,0
42722965,42722965,1996,12,8,7,0,0,AA,1885,ATL,DFW,0,0
42722966,42722966,1996,12,9,1,0,0,AA,1885,ATL,DFW,0,0
42722967,42722967,1996,12,10,2,0,0,AA,1885,ATL,DFW,0,0

In [92]:
df.to_csv('combine_data.csv',index=False)

In [93]:
a=pd.read_csv('combine_data.csv')

In [94]:
a

,id,Year,Month,DayofMonth,DayOfWeek,CRSDepTime,CRSArrTime,UniqueCarrier,FlightNum,Origin,Dest,Cancelled,Diverted
0,0,1987,10,14,3,730,849,PS,1451,SAN,SFO,0,0
1,1,1987,10,15,4,730,849,PS,1451,SAN,SFO,0,0
2,2,1987,10,17,6,730,849,PS,1451,SAN,SFO,0,0
3,3,1987,10,18,7,730,849,PS,1451,SAN,SFO,0,0
4,4,1987,10,19,1,730,849,PS,1451,SAN,SFO,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
42722963,42722963,1996,12,6,5,0,0,AA,1885,ATL,DFW,0,0
42722964,42722964,1996,12,7,6,0,0,AA,1885,ATL,DFW,0,0
42722965,42722965,1996,12,8,7,0,0,AA,1885,ATL,DFW,0,0
42722966,42722966,1996,12,9,1,0,0,AA,1885,ATL,DFW,0,0
42722967,42722967,1996,12,10,2,0,0,AA,1885,ATL,DFW,0,0